/* imports */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* slider */
.slick-prev:before{
  color: #204133;
}

.slick-prev:before:hover{
  color: #7B977C;
}

.slick-next:before{
  color: #204133;
}

.slick-next:before:hover{
  color: #7B977C;
}

.slick-active {
  opacity: 0.7;
}

.slick-track .productCard{
  margin-top: 15%;
  margin-left: 20% !important;
}

.slick-list .slick-track{
  height: 50vh;
}

.slick-center{
  transform: scale(1.2);
  transition: transform 500ms;
}

.slick-current{
  opacity: 1;
}

/* --------------------------------------------- */
/* general styling */
body{
  margin: 0;
}

h1{
  margin-top: 0;
  margin-bottom: 1%;
  font-family: 'Nothing You Could Do', cursive;
  color: #2d2d2d;
}

h2{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #2d2d2d;
  margin-bottom: 3%;
}

h3{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Nothing You Could Do', cursive;
  color: #2d2d2d;
}

p{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #2d2d2d;
}

input{
  width: 50%;
  margin-bottom: 3%;
  border-radius: 20px;
  padding: 10px 30px;
  border: 2px solid #204133;
  outline: none;
}

button{
  padding: 10px 30px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #204133;
}

button:hover{
  color: white;
  background-color: #2d2d2d;
}

.overflow{
  overflow-y: scroll;
}

/* --------------------------------------------- */
/* Nav Bar Styling */

.NavBar{
  width: 100%;
  height: 8vh;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
  background-color: transparent;
}

.nav-home{
  margin-top: 20%!important;
}

.NavItems{
  display: flex;
  width: 15%;
  float: left;
  margin-left: 2%;
}

.NavItems p{
  margin-top: 15%;
  margin-right: 25px;
  color: #7B977C;
  cursor: pointer;
}

.NavBar p{
  color: #7B977C;
}

.username{
  float: right;
  margin-top: 0.8%;
  margin-right: 1%;
  cursor: pointer;
}

.login:hover{
  color: #204133;
}

.NavItems p:hover{
  margin-right: 25px;
  color: #204133;
}

a:link{
  text-decoration: none;
}

.NavItems a.active p{
  font-weight: bold;
  color: #204133;
  font-size: medium;
}

/* Logo */
.logo{
  width: 12%;
  height: 100%;
  background-image: url('assets/logo.svg');
  background-size: cover;
  background-position: center;
  position: absolute;
  margin-left: 43.5%;
  margin-top: -1%;
}

/* icons */
.shopping-bag{
  width: 30px;
  height: 30px;
  background-image: url('assets/icons/shopping-bag.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  float: right;
  margin-right: 2%;
  margin-top: 5px;
}

.shopping-bag:hover{
  background-image: url('assets/icons/shopping-bag-hover.svg');
}

.user-img{
  width: 30px;
  height: 30px;
  background-image: url('assets/icons/user-img.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  float: right;
  margin-right: 1%;
  margin-top: 5px;
}

.user-img:hover{
  background-image: url('assets/icons/user-img-hover.svg');
}

/* --------------------------------------------- */
/* ProductCard */

.productCard, .EditProductCard{
  width: 245px;
  height: fit-content;
  background-color: #204133;
  float: left;
  border-radius: 20px;
  margin-left: 2% !important;
  margin-right: 2% !important;
  margin-bottom: 4%;
  cursor: pointer;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
}

slider .productCard{
  margin: 0;
}

.productCard h2{
  color: white;
  font-size: large;
}

.EditProductCard{
  position: relative;
}

.deleteItem{
  width: 30px;
  height: 30px;
  background-image: url('assets/icons/delete.png');
  background-position: center;
  background-size: cover;
  float: right;
}

.options{
  width: 190px;
  display: flex;
}

.deleteItem:hover{
  background-image: url('assets/icons/delete_hover.png');
}

.productCard p {
  color: white;
}

.currentPrice{
  float: left;
  margin-right: 5%;
}

.prevPrice{
  text-decoration: line-through;
  float: left;
  color: #7B977C !important;
}

.discountPercentage{
  margin-top: -10%;
  width: 45px;
  height: 45px;
  float: right;
  border-radius: 50%;
  background-color: #7B977C;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .discountPercentage p{
  margin
} */

.EditProductCard p {
  color: white;
}

.productCard:hover{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid #204133;
}

.EditProductCard:hover{
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
}

.productCard img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.EditProductCard img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.EditProductCard button{
  margin: 0 auto;
  margin-right: 10%;
  width: 140px;
  float: left;
  background-color: #7B977C;
}

.EditProductCard button:hover{
  margin: 0 auto;
  width: 150px;
  float: left;
  background-color: #2d2d2d;
  color: #7B977C;
}

.productName{
  font-weight: bold !important;
  font-size: medium;
}

.cardInfo{
  width: 85%;
  margin: 7%;
  text-align: left;
  float: left;
  margin-bottom: 5%;
  margin-top: 3%;
}


/* --------------------------------------------- */
/* LOGIN MODAL */
.LoginModal{
  width: 30%;
  margin-left: 32%;
  margin-top: 15%;
  height: auto;
  padding: 3%;
  background-color: #7B977C;
  position: absolute;
  position: fixed;
  z-index: 2;
  border-radius: 20px;
  text-align: center;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  animation: fadeIn 1s;
  /* animation: fadeOut 1s; */
}

.Welcome{
  width: 30%;
  margin-left: 32%;
  margin-top: 15%;
  height: auto;
  padding: 3%;
  background-color: #7B977C;
  position: absolute;
  position: fixed;
  z-index: 2;
  border-radius: 20px;
  text-align: center;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  animation: fadeIn 1s;
}

.Logout{
  width: 30%;
  margin-left: 32%;
  margin-top: 15%;
  height: auto;
  padding: 3%;
  background-color: #7B977C;
  position: absolute;
  position: fixed;
  z-index: 2;
  border-radius: 20px;
  text-align: center;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.LoginModal button{
  margin-bottom: 1%;
  background-color: #204133;
  color: white;
}

.Logout button{
  margin-bottom: 1%;
  background-color: #204133;
  color: white;
}

.LoginModal p {
  color: #204133;
  font-style: italic;
  text-decoration: underline 1px solid #204133;
  cursor: pointer;
}

.RegisterModal p {
  color: #204133;
  font-style: italic;
  text-decoration: underline 1px solid #204133;
  cursor: pointer;
}

.RegisterModal button{
  background-color: #204133;
  color: #2d2d2d;
}

.LoginModal button:hover{
  background-color: #2d2d2d;
  color: white;
}

.Logout button:hover{
  background-color: #2d2d2d;
  color: white;
}

/* @keyframes fadeOut {
  100% { opacity: 1; }
  0% { opacity: 0; }
} */

.closeModal{
  width: 15px;
  height: 15px;
  background-image: url('assets/icons/close-hover.svg');
  float: right;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* --------------------------------------------- */
/* CART MODAL */
.CartModal{
  margin-top: -1%;
  width: 20%;
  height: auto;
  padding: 2%;
  background-color: #7B977C;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  z-index: 3;
  position: absolute;
  margin-left: 76%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.CartModal .shopping-bag{
  margin-top: 0;
  margin-right: 4%;
  background-image: url('assets/icons/shopping-bag-hover.svg');
  float: left;
}

.CartModal h2{
  margin-top: 1%;
  color: white;
}

.CartModal p{
  color: white;
}

.CartModal button{
  margin-top: 5%;
  width: 100%;
  background-color: #204133;
  color: white;
}

.CartModal button:hover{
  margin-top: 5%;
  width: 100%;
  color: #204133;
  background-color: white;
}

.CartModal .closeModal{
  background: url("assets/icons/close-hover.svg");
  background-position: center;
  background-size: cover;
}

.itemNo{
  margin-top: 10%;
}

.itemImg{
  width: 90px;
  height: 90px;
  margin-left: 6%;
  background-image: url('assets/monstera.jpg');
  background-position: center;
  background-size: cover;
  float: left;
  margin-top: 4%;
}

.itemImg2{
  margin-left: 6%;
  width: 90px;
  height: 90px;
  background-image: url('assets/MonsteraMinima.jpg');
  background-position: center;
  background-size: cover;
  float: left;
  margin-top: 4%;
}

.cartItem{
  height: 120px;
  border-bottom: 2px solid #204133;
}

.itemInfo{
  float: left;
  margin-left: 6%;
  margin-top: 4%;
}

.itemInfo p{
  margin-top: 2.5%;
}

.price{
  font-weight: bold;
}

.removeItem{
  color: #d41919!important;
  cursor: pointer;
}

.removeItem:hover{
  color: #8b0000!important;
}

/* --------------------------------------------- */
/* HOME PAGE STYLING */

/* Header */
.header{
  width: 100%;
  height: 80vh;
  text-align: center;
  background-image: url('./assets/header.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 5%;
}

.header-info{
  float: left;
  width: 30%;
  height: 40.6%;
  padding: 12%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(16px);
}


.header p{
  margin-bottom: 2%;
  color: #2d2d2d;
}

.header h1{
  color: #204133;
}

.header h3{
  color: #204133;
}

/* contains new items to store */
.newItemContainer{
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding-top: 0;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.newItemContainer p{
  margin-bottom: 5%;
}

/* slider */


/* sales */
.saleItemContainer{
  width: 80%;
  height: 800px;
  text-align: center;
  padding: 10%;
  padding-top: 3%;
  margin-bottom: 5%;
}

.saleItemContainer p{
  margin-bottom: 3%;
}

.sales{
  margin: 0 auto;
  width: 90%;
  padding: 5%;
  height: auto;
}

/* https://unsplash.com/photos/bBiuSdck8tU */
.saleInfo{
  width: 30%;
  padding: 2%;
  padding-top: 4%;
  padding-Bottom: 4%;
  height: 570px;
  background-image: url('./assets/saleBg.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  float: left;
  margin-right: 3%;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
}

.saleDescription button{
  margin-top: 10%;
  background-color: #204133;
  color: #7B977C;
}

.saleDescription button:hover{
  background-color: #7B977C;
  color: #204133;
}

.saleDescription{
  margin: 0 auto;
  margin-top: 17%;
  width: 70%;
  padding: 5%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(16px);
  border-radius: 20px;
  margin-bottom: 5%;
}

.saleDescription h2{
  margin-top: 30%;
  margin-bottom: 10%;
  color: #204133;
}

.saleDescription p{
  margin-bottom: 5%;
  color: #204133;
}

/* sale items */
.saleItems{
  width: 63%;
  float: left;
}

/* --------------------------------------------- */
/* PRODUCT PAGE */

.ProductPage{
  width: 90%;
  padding: 5%;
  text-align: center;
  padding-bottom: 0;
}

.ProductPage p{
  margin-bottom: 5%;
}

.products{
  margin-left: 5%;
  height: auto;
  justify-content: inherit;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.products a{
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2%;
}

/* --------------------------------------------- */
/* INDIVIDUAL PRODUCT PAGE */
.IndividualProduct{
  width: 90%;
  height: 85vh;
  padding: 5%;
  padding-top: 3%;
}

.productImage{
  width: 45%;
  height: 80vh;
  background-image: url('assets/ScindapsusPictus.jpg');
  background-position: center;
  background-size: cover;
  float: left;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 20px;
}

.productImage img {
  width: 100%;
  border-radius: 20px;
}

.productInfo{
  width: 50%;
  height: auto;
  float: left;
  margin-bottom: 10%;
}

.productInfo h1{
  margin-top: 10%;
  font-family: 'Roboto', sans-serif;
}

.additionalInfo{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 10%;
}

.additionalInfo h2{
  margin-right: 15%;
}

.additionalInfo input{
  width: 8%;
  margin-right: 15%;
  padding: 10px 15px;
}

.additionalInfo button{
  margin-top: -3%;
}

.back{
  width: 30px;
  height: 30px;
  background-image: url('assets/icons/back.svg');
  background-position: center;
  background-size: cover;
  margin-bottom: 3%;
}

.back:hover{
  background-image: url('assets/icons/back-hover.svg');
}

.potVariations{
  justify-content: center;
  align-items: center;
  display: flex;
}

.potHeading{
  margin-top: 10%;
}

.pot1{
  width: 22%;
  height: 200px;
  background-image: url('assets/pot1.png');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  float: left;
  margin-right: 3.5%;
}

.pot2{
  width: 22%;
  height: 200px;
  background-image: url('assets/pot2.png');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  float: left;
  margin-right: 3.5%;
}

.pot3{
  width: 22%;
  height: 200px;
  background-image: url('assets/pot3.png');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  float: left;
  margin-right: 3.5%;
}

.pot4{
  width: 22%;
  height: 200px;
  background-image: url('assets/pot4.png');
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  float: left;
}

.pot1:hover{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid #204133;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
}

.pot2:hover{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid #204133;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
}

.pot3:hover{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid #204133;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
}

.pot4:hover{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid #204133;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
}

.pot1:focus{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid #204133;
}

.pot2:focus{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid #204133;
}

.pot3:focus{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid #204133;
}

.pot4:focus{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 3px solid #204133;
}

/* --------------------------------------------- */
/* MANAGE INVENTORY */
.InventoryManagement{
  width: 90%;
  height: auto;
  text-align: center;
  position: relative;
  padding: 5%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.InventoryManagement .products{
  margin: 0;
  padding: 2.5%;
  padding-top: 0;
  width: 60%;
  overflow: auto;
}

.InventoryManagement p{
  margin-bottom: 5%;
}

/* Add a product modal */
.AddProduct{
  width: 25%;
  float: left;
  height: 65vh;
  padding: 5%;
  background-color: #7B977C;
  border-radius: 20px;
  text-align: center;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
}

.AddProduct .qty{
  width: 60%;
}

.EditProduct{
  width: 30%;
  height: auto;
  margin-left: 5%;
  padding: 3%;
  position: absolute;
  position: fixed;
  z-index: 2;
  background-color: #7B977C;
  border-radius: 20px;
  text-align: center;
  box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -webkit-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  -moz-box-shadow: 8px 8px 10px -8px rgba(0,0,0,0.55);
  animation: fadeIn 1s;
}

.closeModal:hover{
  background-image: url('assets/icons/close-hover.svg');
}

.EditProduct .closeModal{
  background-image: url('assets/icons/close.svg');
  background-position: center;
  background-size: cover;
}

.AddProduct h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.AddProduct h2{
  margin-top: 10px;
  margin-bottom: 5%;
}

.EditProduct h3{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.AddProduct button{
  background-color: #204133;
  color: white;
}

.EditProduct button{
  background-color: #204133;
  color: white;
}

.AddProduct button:hover{
  background-color: #2d2d2d;
  color: white;
}

.EditProduct button:hover{
  background-color: #2d2d2d;
  color: #7B977C;
}

.AddProduct .close{
  background-image: url('assets/icons/close-hover.svg');
}

.EditProduct .close{
  background-image: url('assets/icons/close-hover.svg');
}

textarea{
  width: 85% !important;
  height: 100px;
}

#productName{
  width: 49%;
  margin-right: 3%;
}

.discount{
  width: 15%;
}

#productDescription{
  width: 70%;
  padding: 1%;
  outline: none;
  border: #204133 2px solid;
  border-radius: 20px;
  margin-bottom: 3%;
}

#price, #qty, #availStock{
  width: 50px;
  margin-right: 1%;
}


label{
  font-family: 'Roboto', sans-serif;
  margin-right: 3%;
}

/* --------------------------------------------- */
/* INCOMING ORDERS */
.IncomingOrders{
  width: 80%;
  padding: 10%;
  height: auto;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 5%;
}

.orders{
  width: 100%;
  margin-top: 5%;
}

.orderItem{
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 95%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #7B977C;
  margin-bottom: 1.5%;
  border-radius: 20px;
}

.orderItem img{
  width: 50px;
  border-radius: 10px;
}

.orderItem input{
  width: 5%;
  padding: 10px 15px;
}

.orderItem button{
  background-color: #204133;
  color: white;
}

.orderItem button:hover{
  color: white;
  background-color: #2d2d2d;
}

/* --------------------------------------------- */
/* FOOTER */
.footer{
  width: 90%;
  height: auto;
  padding: 2% 5%;
}

.footer p{
  float: left;
  margin-top: 1%;
}

/* mail icon */
.mail{
  width: 30px;
  height: 30px;
  background-image: url('assets/icons/mail.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  float: right;
  margin-bottom: 3%;
  margin-left: 1%;
}

.mail:hover{
  width: 35px;
  height: 35px;
}

.instagram{
  width: 30px;
  height: 30px;
  background-image: url('assets/icons/instagram.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  float: right;
  margin-bottom: 3%;
}

.instagram:hover{
  width: 35px;
  height: 35px;
}

.call{
  width: 30px;
  height: 30px;
  background-image: url('assets/icons/phone-call.svg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  float: right;
  margin-bottom: 3%;
  margin-left: 1%;
}

.call:hover{
  width: 35px;
  height: 35px;
}

input[type="file"]{
  border: transparent;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: transparent;
  float: left;
  background-color: transparent;
}

::-webkit-file-upload-button{
  width: 50%;
  font-weight: bold;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 4%;
  border-radius: 20px;
  color: white;
  background-color: #204133;
  margin-bottom: 10%;
  margin-top: 5%;
  cursor: pointer;
}


.imgArea p{
  padding-top: 1%;
  margin-bottom: 0;
  margin-top: 0;
  color: #2d2d2d;
  text-align: left;
}

.imgArea{
  width: 100%;
  height: 10vh;
  margin-left: 15%;
}

.product_img{
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 3%;
  border-radius: 10%;
  margin-left: 5%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: #204133 3px solid;
}

.product_img img{
  width: 100%;
  height: auto;
}